<div class="footer">
      <div class="info-footer ">
          <div class="linked">
            <h4>Liên kết</h4>
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>

          </div>
          <div class="contact">
            <h4>Liên hệ chúng tôi</h4>          
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>
            

          </div>
          <div class="license">
            <h4>Chứng chỉ</h4>
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>
            <p>Bến xe Miền Đông</p>

          </div>
      </div>
      <div class="about-company">
          <h3 class="center">Công ty cổ phần ticketMe</h3>
          <div class="add-company">
           <p>Địa chỉ đăng ký kinh doanh: 8C Chữ Đồng Tử, Phường 7, Quận Tân Bình, Thành Phố Hồ Chí Minh, Việt Nam</p>
          <p>Địa chỉ đăng ký kinh doanh: 8C Chữ Đồng Tử, Phường 7, Quận Tân Bình, Thành Phố Hồ Chí Minh</p>
          </div>
      </div>

  </div>