<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Flatpickr CSS-->
    <% include ./partials/links %>
   
   <title>ticketMe| Quên mật khẩu</title>
  </head>
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

#regForm {
  background-color: #ffffff;
  margin: 10px auto;
  font-family: 'Montserrat', sans-serif;
  padding: 15px 15px;
  width: 25%;
  min-width: 300px;
  border-radius: 3px;
  border: 1px solid #d1d5da;

}
 .error{
  color: black;
  background: #f7dc4d;
  width: 20%;
  margin: auto;
  height: 30px;
  line-height: 30px;
  text-align: center;
 display: none;

}
.title {
  text-align: center;  
  margin: 30px auto 20px 10px;
  font-size: 18px;

}
.text-center{
  text-align: center;  
  margin: 100px auto 10px 10px;
  font-size: 23px;

}

input {
  padding: 10px;
  width: 100%;
  margin:auto;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  border: 1px solid #d1d5da;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;

}

/* Hide all steps by default: */
.tab {
  text-align: center;
  display: none;
}

button {
  background-color: #EC5D10;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-family: Raleway;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

}

button:hover {
  opacity: 0.8; 
}

#prevBtn {
  background-color: white;
  color: black;
  display: inline;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 15px 2px;
  background-color: #1e62d8;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#handleBack{
  background-color: #f1f1f1;
  border-radius: 3px;
  width: 80px;
  color: black;

}
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color:#1e62d8;
}
</style>
<body>
    <% include ./partials/header %>
<h1 class="text-center mb-3">
        <a href="/home" style="text-decoration: none;color: black;">ticketMe</a>
</h1>
<p class="title">Khôi phục mật khẩu</p>
<p class="error"></p>
<div id="regForm" >
  
  <!-- One "tab" for each step in the form: -->
  <p style="font-weight: bold;">Nhập địa chỉ email đã kích hoạt của tài khoản của bạn và chúng tôi sẽ gửi cho bạn một mã bí mật để thay đổi mật khẩu</p>
  <div class="tab">
    <p><input placeholder="Nhập email..."  name="email" required id="email"></p>
     <div style="overflow:auto;">
      <div >
        <button type="button" id="handlePost" onclick="handlePost()">Gửi mã xác nhận</button>
      </div>
    </div>
  </div>
  <div class="tab">
    <p><input placeholder="Nhập mã xác nhận" oninput="this.className = ''" id="secret-code"></p>
   <div style="overflow:auto;">
      <div >
        <button type="button" id="handleBack" onclick="handleBack()">Back</button>
        <button type="button" id="handleConfirm" onclick="handleConfirm()">Confirm</button>
      </div>
    </div>
  <!--   <p><input placeholder="Phone..." oninput="this.className = ''" name="phone"></p> -->
  </div>
  <div class="tab">
    <p><input type="text" name="" placeholder="Mật khẩu mới" id="new"></p>
    <p><input type="text" name="" placeholder="Xác nhận" id="confirm"></p>
    <div style="overflow:auto;">
      <div >
        <button type="button" id="handleChange" onclick="handleChange()">Apply</button>
      </div>
    </div>
  </div>
 <!--  <div class="tab">
    <p><input placeholder="Username..." oninput="this.className = ''" name="uname"></p>
    <p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p>
  </div> -->
  
  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;display: none;">
    <span class="step" id="0"></span>
    <span class="step" id="1"></span>
    <span class="step" id="3"></span>
  </div>
  <p id="demo"></p>
</div>
    

<script>
var codeSecret = new Date().getHours();
var currentTab = 0; // Current tab is set to be the first tab (0)4
var position = 0;
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  console.log(x.length)
  x[n].style.display = "block";

}
function fixTab(n) {
   var tabs = document.querySelectorAll('.tab')
   tabs.forEach(tab => {
    tab.style.display = "none";  
   })
    
}
 async function handlePost() {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  var email = document.querySelector('#email').value;
console.log(email)
  // Exit the function if any field in the current tab is invalid:
  if (!validateForm()) return false;

 
  document.getElementById("handlePost").innerHTML = "Đang gửi";

   const res = await fetch('http://localhost:5000/user/email',{
          method:'POST',
          headers: {
            'Content-Type' : 'application/json'
          },
          body:JSON.stringify({"email":email,"check":codeSecret})
         })
   const myJson = await res.json()
   console.log(myJson)
   if(myJson.status ==true){
    document.querySelector('.error').style.display = "none"
      fixTab();
  // Increase or decrease the current tab by 1:
      showTab(1)
   }
   else {
     document.querySelector('.error').innerHTML = 'Đã có lỗi! Thử lại'
    document.querySelector('.error').style.display = "block"
    document.getElementById("handlePost").innerHTML = "Gửi mã xác nhận";

   }
    

}
function DateToString(){
  const date = new Date();
  let dateString = toFullTwoDigital(date.getYears()) + toFullTwoDigital(date.getMonths()) +
   toFullTwoDigital(date.getDay()) ;
}
function toFullTwoDigital(x){
  if(x >= 10) return  x;
  return '0' + x;
}
function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}
function handleBack(){
  fixTab();
  showTab(0);
  document.getElementById("handlePost").innerHTML = "Gửi lại mã xác nhận";

}
function handleConfirm(){
  const secret = document.querySelector('#secret-code').value;
  if(secret == codeSecret){
    fixTab();
    showTab(2);
  }
  else{
    document.querySelector('.error').textContent = 'Mã xác nhận không đúng'
    document.querySelector('.error').style.display = "block"
  }
}
async function handleChange(){
  const newPass = document.querySelector('#new').value
  const confirm = document.querySelector('#confirm').value
  const email = document.querySelector('#email').value
  console.log(confirm)
  if (newPass.length < 6) 
    return  document.querySelector('#new').className += 'invalid'
 
  if( newPass != confirm){
    return  document.querySelector('#new').className += 'invalid'
  }

  const res = await fetch('http://localhost:5000/user/confirm',{
          method:'POST',
          headers: {
            'Content-Type' : 'application/json'
          },
          body:JSON.stringify({"password":newPass,"email":email})
         })
   const myJson = await res.json()
   console.log(myJson)
   if(myJson.isChanged ==true){
      window.location = 'http://localhost:5000/user/account#dangnhap';
      document.querySelector('.error').style.display = "block"
      setTimeout(function(){
        document.querySelector('.error').textContent = 'Thành công! Vui lòng đăng nhập'        
      },2000)
   }
   else {
    document.querySelector('.error').innerHTML = 'Đã có lỗi! Thử lại'
    document.querySelector('.error').style.display = "block"
      window.location = 'http://localhost:5000/user/reset';
    

   }
}

</script>

</body>
</html>
