<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Flatpickr CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
    
    <!-- My own CSS -->
    <link rel="stylesheet" type="text/css" href="/panel.css">
    <link rel="stylesheet" type="text/css" href="glider.css">

     <!-- <link rel="stylesheet" type="text/css" href="/style.css"> -->


     <script src="/owl.carousel.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
     <script src="https://unpkg.com/@glidejs/glide"></script>
    <!-- Import font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  Flatpickr  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>

   <title>ticketMe| Chuyến xe</title>
  </head>
  <body>
<div class="container">
    <% include ./partials/header %>
<div class="group-table">
<table id="first" class="table">
   <p>ticket Me, thích là phải đi</p>
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trip</th>
      <th scope="col">Pick up</th>
      <th scope="col">Destination</th>
      <th scope="col">Timing</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sai Gon - Kien Giang</td>
      <td>Ben Xe Mien Dong</td>
      <td>Cat Linh</td>
      <td>3h30</td>
      <td>170.000</td>
      <td><button>Book ticket</button></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
  </tbody>
</table>
<table id="T002" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trip</th>
      <th scope="col">Pick up</th>
      <th scope="col">Destination</th>
      <th scope="col">Timing</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sai Gon - Kien Giang</td>
      <td>Ben Xe Mien Dong</td>
      <td>Cat Linh</td>
      <td>3h30</td>
      <td>170.000</td>
      <td><button>Book ticket</button></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
  </tbody>
</table>
<table id="T003" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trip</th>
      <th scope="col">Pick up</th>
      <th scope="col">Destination</th>
      <th scope="col">Timing</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sai Gon - Kien Giang</td>
      <td>Ben Xe Mien Dong</td>
      <td>Cat Linh</td>
      <td>3h30</td>
      <td>170.000</td>
      <td><button>Book ticket</button></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
  </tbody>
</table>
<table id="T004" class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trip</th>
      <th scope="col">Pick up</th>
      <th scope="col">Destination</th>
      <th scope="col">Timing</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sai Gon - Kien Giang</td>
      <td>Ben Xe Mien Dong</td>
      <td>Cat Linh</td>
      <td>3h30</td>
      <td>170.000</td>
      <td><button>Book ticket</button></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>

    </tr>
  </tbody>
</table>
</div> 
<% include ./partials/footer %>
<style>
  :root {
  --main: #f37632;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.group-table{
  margin-top: 100px;
  text-align: center;
}
.group-table p{
  font-size: 23px;
}
  table{
    text-align: center;
    width:80%;
    margin-bottom:50px;
    margin-left: 50%;
    transform: translate(-50%,0);
    border: none;
  }
  .thead-light{
    background: var(--main);
    border-radius: 2px;
    color: white;

  }
  table th {
    height: 30px;
  }
  tbody tr:nth-child(odd){
    background: #e0d8d7;
  }
  td button {
    border: none;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
  }
</style>
<script type="text/javascript">
  let trips;
  getTrips()
  async function  getTrips(){
    const response = await fetch('http://localhost:5000/admin/trips');
    const myJson = await response.json();
    trips = myJson;
}
</script>

  </body>


</html>
