<div id="form-control">
 <h1>Buta BusLine</h1>

 <button id="signupBtn"><a href="/getting-started/register" ><strong>Sign up</strong></a></button>
 <button id="signinBtn"><a href="/getting-started/login" ><strong>Sign in</strong></a></button>
 <button class="btn-apis" id="btn"><a href="#asd">sdsd</a></button>

</div>
<script type="text/javascript">
  
  window.addEventListener('hashchange',()=>{
  console.log("acsahc")
}) 
</script>
 <style>
   
    body{
      font-family: 'Montserrat', sans-serif;
    }
    #form-control{
      text-align: center;
    }
    h1{
     
      text-align: center;
    }
   
    button{
      width: 100px;
      height: 35px;
      color:white;
        background-color: #1e62d8;
      font-family: 'Montserrat', sans-serif;
      border: none;
      border-radius: 2px;

    }
    #signinBtn{
     color: #1e62d8;
       background-color: gray;
    }
    a{
    color:white;
    text-decoration:none;
    }
  </style>

